---
---

body {
  margin: 0;
  padding: 0;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  user-select: none;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

main {
  margin-left: 20rem;
}

.sidebar {
  position: relative;

  .container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 18rem;
    text-align: right;
    background-color: rgba(255, 255, 255, 1);
    padding-right: 2rem;
  }
  
  input {
    display: none;
    position: sticky;
    opacity: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 0;
    padding: 0;
    top: 10px;
    left: 0;
    
    + label {
      display: none;
      position: sticky;
      cursor: pointer;
      left: 0;
      padding: 5px 2px;
      border: 1px solid black;
      border-left: none;
      z-index: 5;
      background-color: rgba(255, 255, 255, 1);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media only screen and (max-width: 960px) {
  main {
    margin-left: 30px;
  }

  .sidebar {
    position: relative;

    .container {
      display: none;
    }

    input + label {
      display: inline-block;
      position: fixed;
      top: 5px;
    }

    input:checked {
      display: block;
      position: fixed;
      top: 5px;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      ~ .container {
        display: block;
        z-index: 10;
      }
    }
  }

  table.leaderboard {
    width: 100%;
  }
}

.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}

.sidebar-nav-item:hover, .sidebar-nav-item:focus {
  text-decoration: underline;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

table.leaderboard {
  border-spacing: 0;
  text-align: center;

  th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
  }

  th:nth-child(1),
  td:nth-child(1),
  th:nth-child(3),
  td:nth-child(3),
  th:nth-child(5),
  td:nth-child(5) {
    text-align: left;
  }

  th, td {
    padding: 8px;
    line-height: 1.42857143;
    border-bottom: 1px solid #ddd;
  }
}

[data-change]:not([data-change^="-"]):not([data-change="0"])::after {
  content: '▲' attr(data-change);
  color: green;
}

[data-change^="-"]:not([data-change="-"])::after {
  content: '▼' attr(data-change);
  color: red;
}
