name: Weekly Update
on:
  workflow_dispatch:
  schedule:
    - cron: "25 8 */7 * *" # 25 minutes after reset
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Node setup
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
      - name: Install
        run: npm install --production
      - name: Update
        run: npm start weekly
      - name: Commit
        uses: EndBug/add-and-commit@v5
        with:
          message: "chore: Weekly Update"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

